/* ------------------------------------------------ */
/* --------STÖRRE STORLEKAR, DESKTOP -------------- */
/* ------------------------------------------------ */
body {
    background-color: palegreen;
}


@media screen and (min-width: 1024px) {

    .astronaut .heading-box {
        width: 14rem;
    }

    .astronaut .heading-box .read-our-story-link {
        text-align: right;
    }   
  
    .astronaut .heading-box .read-our-story-link span {
        position: relative;
        left: 0;
        transition: left 1s cubic-bezier(0.65, 0, 0.35, 1); 
    }

    /*för att pilen ska röra på sig*/
    .astronaut .heading-box .read-our-story-link:hover span {
        left: 10px;
        
    }
} 


