/* ------------------------------------------------ */
/* --------MINDRE STORLEKAR, MOBIL----------------- */
/* ------------------------------------------------ */
@media screen and (min-width: 800px) {
    body {
      background-color: paleturquoise;
    }
}

.text-page {
  display: flex;
  gap: 10%;
}
.col1 .col2 {
  width: 45%;
}




