@charset "UTF-8";

@import "vendor/normalize";
@import "base";


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {
  padding: 0;
}

.full-height {
  min-height: 100vh;
}

@media screen and (min-width: 960px) {
  @import "mobil";
  
}

/* ------------------------------------------------ */
/* -------------------- ASTRONAUT SECTION---------- */
/* ------------------------------------------------ */
.astronaut {
  background-image: url("../assets/photos/astronaut.jpg");
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.astronaut .heading-box {
  border: 4px solid black;
  width: 11rem;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 80px;
  left: 40px;
  padding: 20px;
  font-family: "Rubik", sans-serif;
}

.astronaut .heading-box .to-the-moon-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.astronaut .heading-box .read-our-story-link {
  text-align: right;
  font-size: 1rem;
}




/* ------------------------------------------------ */
/* --------------------- TEXT PAGE SECTION--------- */
/* ------------------------------------------------ */
.full-page {
  min-height: 100vh;
}

.wrapper {
  color: white;
  background-position: cover;
  background-image: url("../assets/photos/rymden-min.jpg");
  background-size: cover;
  font-family: Rubik, serif;
  overflow: hidden !important;
  
}

.poem {
  line-height: 1.9;
}


/* ------------------------------------------------ */
/* ----------TEXT PAGE SECTION COLUMN 1------------ */
/* ------------------------------------------------ */
.space-ventures {
  color: white;
  margin: auto;
  width: 85%;
  font-size: xx-large;
  text-shadow: 3px 4px 12px black;
  margin: 5%;
}

.space {
  font-size: 250%;
  font-family: Rubik, serif;
  position: relative;
  z-index: 3;
}

.ventures {
  font-size: 290%;
  font-family: "Times New Roman", Times, serif;
  opacity: 0.7;
  position: relative;
  left: 80px;
  top: -65px;
  font-weight: 550;
}

h3 {
  font-family: Rubik, serif;
  font-weight: 400;
  font-size: x-large;
}

.protein-pills-article {
  position: relative;
  left: 7%;
  font-size: 1rem;
  font-weight: 200;  
  font-family: rubik;
  line-height: 1.5;
}



/* floating quote */
.floating-quote {
  position: relative;
  left: 7%;
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  
  
}

span {
  position: relative;
  z-index: 1;
}

.floating-quote::before, .floating-quote::after {
  display: block;
  position: absolute;
  font-size: 5rem;
  font-weight: bold;
  color: grey;
  opacity: 0.8;
  z-index: 0;
  line-height: 1;
}

.floating-quote::before {
  content: open-quote;
  top: -0.5rem;
  left: -1.5rem;
}

.floating-quote::after {
  content: close-quote;  
  float: right;
  margin-left: 6.5rem;
  margin-top: -2rem;
  
}



/* ------------------------------------------------ */
/* ----------TEXT PAGE SECTION COLUMN 2------------ */
/* ------------------------------------------------ */


.main-article-text {
  margin: 15px;
  font-weight: 300;  
  line-height: 1.5;
}



/* projekt rosa länk-pilen ej underline + smooth */
.pink-major-tom-link {
  text-decoration: underline;
  color: #D200A2;
  margin: 25px;
  padding-bottom: 50px;
}

.arrow {
  font-size: 1.5rem;    
}

.full-page .pink-major-tom-link .arrow  {
  position: relative;
  left: 0;
  transition: left 1s cubic-bezier(0.65, 0, 0.35, 1); 
}

.full-page .pink-major-tom-link:hover .arrow {
  left: 10px;
}



/* rör ej !! */
@media screen and (min-width: 800px) {
  body {
      background-color: pink;
  }
  .astronaut .heading-box {
    width: 14rem;
  }
  .astronaut .heading-box .read-our-story-link {
    text-align: right;
  }
  .astronaut .heading-box .read-our-story-link span {
    position: relative;
    left: 0;
    transition: left 1s cubic-bezier(0.65, 0, 0.35, 1);
  }
  /*för att pilen ska röra på sig*/
  .astronaut .heading-box .read-our-story-link:hover span {
    left: 10px;
  }
  
}


/* ------------------------------------------------ */
/* --------------------HAMBURGARMENYN-------------- */
/* ------------------------------------------------ */
.burger-button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 3;
  pointer-events: none;
}

.burger-button .line {
  display: block;
  width: 45px;
  height: 9px;
  background-color: black;
  border-radius: 8px;
  margin-bottom: 4px;
}

input {
  position: fixed;
  right: 14px;
  top: 13px;
  z-index: 2;
  width: 45px;
  height: 45px;
  opacity: 0;
}

.line.middle {
  position: relative;
  left: -10px;
}

input:checked + .menu-container .burger-button .line {
  position: absolute;
  transition: all 0.4s ease-in-out;
}

input:checked + .menu-container .burger-button .line:nth-child(2) {
  opacity: 0;
}

input:checked + .menu-container .burger-button .line:nth-child(1) {
  transform: rotate(45deg);
}

input:checked + .menu-container .burger-button .line:nth-child(3) {
  transform: rotate(-45deg);
}

/* ------------------------------------------------ */
/* ----------NAVIGATION / OPEN BURGER-------------- */
/* ------------------------------------------------ */
nav {
  top: 0;
  left: 0;
  visibility: hidden;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.73);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  
}

input:checked + .menu-container nav {
  display: block;
  opacity: 1;
  visibility: visible;
  position: relative;
  z-index: 1;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: space-evenly;
  text-align: center;
  text-transform: uppercase;
}

.menu-text ul {
  font-family: Rubik, serif;
  font-size: 3.5rem;
  font-weight: bold;
}

li:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #D200A2;
          text-decoration-color: #D200A2;
}

/*# sourceMappingURL=style.css.map */